<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python312\python.exe|C:\work\ExcelAdd\AzureOpenAI\StreamlitApp\StreamlitApp\app.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>